
/* pseudo-class */
.content {
    margin-left: 200px;
    width: 500px;
    /* height: 100px; */
    background-color: blueviolet;
    color: #fff;
}

/* .content:hover {
    background-color: aqua;
}

.content h1:first-child{
    color: burlywood;
}

.content h1:last-child {
    color: aquamarine;
}

.content h1:nth-child(5) {
    color: chocolate;
} */

.content h1::before {
   content: "Hello world";
}